.ios .inner-wrapper, .android .inner-wrapper {
    padding: 0px;
    background: transparent;
    border: none;
}

.android .kimano-phone {
    padding: 0px !important;
    margin-top: 0px;
}

.ios .container, .android .container {
    padding-right: 0px;
    padding-left: 0px;
}

.payment-header {
    background-color: #EFEFEF;
    padding: 5px;
    margin-bottom: 20px;
}

.payment-body {
    padding-left: 40px;
    padding-right: 40px;
}

.payment-header .title {
    margin-bottom: 0px;
}

.logo-payment {
    background: none;
    width: 55px;
    height: auto;
    margin: auto 0;
    padding-top: 10px;
    padding-bottom: 5px;
}

.title {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 8px;
    font-weight: bold;
}

.description {
    font-size: 16px;
    font-weight: 800;
}

.payment-features {
    color: #111;
    background-color: #FAFAFA;
    border-color: #f0f0f0;
    margin-bottom: 25px;
}


.payment-features li{
    list-style: none;
    margin-bottom: 10px;
}

.payment-features li:last-child{
    margin-bottom: 5px;
}


.payment-features ul{
    width: 80%;
    padding: 0px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .payment-features ul{
        width: 90%;
        padding: 0px;
        margin: 0 auto;
    }
}


.payment-features li:before{
    content: '';
    display: table-cell;
    height: 18px;
    width: 18px;
    background-image: url('/assets/prof-acc_files/tick.png');
    background-size:contain; background-repeat:no-repeat;
    margin-right: 5px;
    top: 1px;
    position: relative;
}

.payment-features span {
    display: table-cell;
    position: relative;
    left: 5px;
}

.price {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 10px; 
}

.price span {
    position: relative;
    left: 2px;
    font-size: 34px;
    font-weight: 800;
}

.ios .button > button {
    text-transform: capitalize;
    padding: 7px 20px;
    color: #fff;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 16px;
    font-size: 16px;
    width: 100%;
    text-align: center;
    display: inline-block;
    background: #2196F3;
    border: none;
    font-weight: 200;
}

.payment-primary {
    font-weight: 400 !important;
}

@media (max-width: 768px) {
    .ios .button > button {
        text-transform: capitalize;
        padding: 7px 20px;
        color: #2196F3;
        cursor: pointer;
        margin-top: 0px;
        margin-bottom: 16px;
        font-size: 18px;
        width: 100%;
        text-align: center;
        display: inline-block;
        background: transparent;
        border: none;
        font-weight: 400;
    }

    .two-button-wrapper .button:last-child {
        padding-left: 0px;
    }
}

/* .ios .button > button:hover, .ios .button > button:active, .ios .button > button:focus {
    color: #fff !important;
    background: #1D86CC !important;

} */

.payment-detals {
    text-align: center;
    margin-bottom: 25px;
    color: #9e9e9e;
    line-height: 16px;
    font-size: 12px;
}

/* second screen radio buttons */

.ios .btn-group .btn {
    background-color: transparent;
    border-color: #0080FF;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #0080FF;
    color: #0080FF;
    outline: none!important;
}

.android .btn-group .btn {
    outline: none!important;
}

.ios .btn-group .active {
    background-color: #0080FF;
    border-color: #0080FF;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
}

.ios .btn-group .active {
    background-color: #0080FF;
    border-color: #0080FF;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.payment-choise {
    margin-top: 30px;
    margin-bottom: 40px; 
    text-align: center;
}

.payment-choise .form-group {
    text-align: left;
}

.two-button-wrapper {
    display: flex;
}

.two-button-wrapper .button:first-child {
    padding-left: 0px;
    padding-right: 0px;
}

.two-button-wrapper .button:last-child {
    padding-right: 0px;
}

.ios .payment-btn-ghost {
    background: none !important;
    color: #2196F3 !important;
}

.payment-body .alert-success {
    margin-bottom: 30px;
}

.payment-body .alert-success span {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    top: -2px;
}

.payment-body .alert-success p {
    display: table-cell;
    position: relative;
    padding-left: 25px;
    vertical-align: middle;
}

.payment-divider {
    margin-bottom: 15px;
}

.android .open-data-bot-wrapper {
    background: transparent;
    height: 100%;
}



@media (min-width: 768px) {

    .ios .kimano-phone, .android .kimano-phone {
        width: 400px;
        background: transparent;

    }
    .payment-main-content-wrapper {
        width: 400px;
        border-radius: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .payment-header {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .ios .button:last-child > button, .android .button:last-child > button {
        margin-bottom: 26px;
    }


}

.android .payment-btn-ghost {
    background-color: #e2e2e2 !important;
    color: #1f1f1f
}

/* .android .payment-btn-ghost {
    background-color: #fff !important;
    color: #2196f3;
} */

.android .button > button {
    width: 100%;
    margin-bottom: 16px;
}

.android .button:last-child {
    margin-top: 0px;
}

.radio-android {
    text-align: left;
    width: 220px;
    margin: 0 auto;
}

.radio-android label {
    width: 100%
}

.radio-android .radio:first-child {
    margin-bottom: 20px;
}