html {
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 100%;
}

.navbar-brand > .logo {
    display: inline-block;
    margin-top: -10px;
    margin-right: 5px;
}

.logo-court {
    height: 32px;
    width: 176px;
    background-image: url("/images/landing-court/logo@1.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.logo-text {
    color: #000000;
    line-height: 10px;
}

.logo-text > h4 {
    margin: 0;
}

.non-border {
    border: 0 !important;
}

.half-rule {
    width: 100px;
    margin: 40px auto;
}

.json-key {
    color: #000000;
    font-weight: 600;
}

.json-value {
    color: navy;
}

.json-string {
    color: #00803f;
    font-weight: 600;
}

.top-buffer {
    margin-top: 15px;
}

.top-links {
    margin-top: 20px;
}

.blockquote-danger {
    border-color: #D43F3A;
}

.preloader {
    width: 50px;
    height: 50px;
    background: url(/images/preloader.gif) no-repeat;
    background-size: contain;
}

.insert {
    font-size: 14px;
}

/*begin css*/

.android .open-data-bot-wrapper {
    background: #efedef;
    height: 100%;
}

.ios .open-data-bot-wrapper {
    background: #ffffff;
    height: 100%;
}

.android .kimano-phone {
    min-width: 320px;
    margin: 8px auto;
    padding: 0 8px;
    font-family: "Roboto", "Arial", sans-serif;
}

.ios .kimano-phone {
    margin: 0 auto;
    padding: 0;
    min-width: 320px;
    font-family: "SF UI Display", "Arial", sans-serif;
}

.android .inner-wrapper {
    border: 1px solid #d8d6d8;
    padding: 16px 32px;
    background: #ffffff;
    border-radius: 3px;
}

.ios .inner-wrapper {
    padding: 16px 32px;
    background: #ffffff;
}

.logo-payment {
    background: url("https://opendatabot.com/images/kimono.png");
    margin: 16px auto;
    background-size: 88px;
    height: 88px;
    width: 88px;
}

.title {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 8px;
}

.description {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 16px;
    font-weight: 200;
}

.list-of-orders > ul > li {
    list-style: none;
    text-align: left;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 8px;
}

.list-of-orders > ul > li:before {
    content: '\2014' ' ';
}

.price {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    margin-top: 16px;
}

.android .button {
    text-align: center;
    font-size: 14px;
    margin-top: 16px;
}

.android .button > button {
    text-transform: uppercase;
    padding: 8px 20px;
    background: #2196f3;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 1px 1px #999;
    outline: none;
}

.android .button > button:hover {
    /*background: #187bca;*/
    background: #49aeff;
}

.android .button > button:active, .android .button > button:focus, .android .button > button:active:focus {
    background: #187bca;
    outline: none;
}

.no-gutter {
    float: none;
}

.conditions {
    text-align: center;
    margin-top: 16px;
    padding-bottom: 16px;
}

.conditions > p {
    color: #9e9e9e;
    line-height: 16px;
    font-size: 12px;
}

.conditions > a {
    text-decoration: none;
    color: #9e9e9e;
    line-height: 16px;
    font-size: 12px;
}

.conditions > a:hover {
    text-decoration: underline;
}

.ios .button > button {
    text-transform: capitalize;
    padding: 7px 20px;
    color: #2196f3;
    cursor: pointer;
    margin-top: 16px;
    font-size: 22px;
    text-align: center;
    display: inline-block;
    background: transparent;
    border: none;
    font-weight: 200;
}

.ios .button > button:hover {
    /*color: #187bca;*/
    color: #49aeff;
    background: transparent;
}

.ios .button > button:active, .ios .button > button:focus, .ios .button > button:active:focus {
    color: #187bca;
    background: transparent;
    outline: none;
    box-shadow: none;
}

.ios .button-wrapper {
    text-align: center;
}

@media (min-width: 480px) {
    .android .kimano-phone {
        width: 480px;
        padding: 0;
    }

    .ios .kimano-phone {
        width: 480px;
    }

    .android .inner-wrapper {
        padding: 16px 48px;
    }

    .ios .inner-wrapper {
        padding: 16px 48px;
    }
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .logo-payment {
        background: url('https://opendatabot.com/images/kimono@2x.png');
        background-size: 88px;
    }
}

/*end css payment*/

#payment-logo {
    margin: 0 auto;
}

@media (min-width: 991px) {
    .reload .insert {
        font-size: 8px !important;
    }
}

@media (max-width: 991px) {
    .reload .insert {
        display: none;
    }

    .reload h3 {
        font-size: 12px;
    }

    .reload button {
        width: 60px;
        font-size: 6px;
    }
}

@media (min-width: 480px) {
    .full-img {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .fb-iframe {
        width: 346px;
        height: 65px;
    }

    .top-info {
        font-size: 9px;
    }

    .mob-font-5 {
        font-size: 5px;
    }

    .table-small {
        font-size: 10px;
    }

    .row-button > .btn {
        font-size: 13px !important;
    }
}

@media (max-width: 991px) {
    .botlink {
        padding-bottom: 16px;
    }

    #iframe {
        width: 400px;
        height: 500px;
    }
}

footer p {
    margin-bottom: 0 !important;
}

@media (min-width: 768px) {
    .bs-docs-footer {
        text-align: left !important;
    }
}

.bs-docs-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
}

.bs-docs-footer a {
    color: #fff;
}

.bs-docs-footer-links {
    padding-left: 0;
    margin-bottom: 20px;
}

.bs-docs-footer-links li {
    display: inline-block;
}

.bs-docs-footer-links li + li {
    margin-left: 15px;
}

.full-width {
    width: 100%;
}

#loser-email, .small-table {
    font-size: 12px;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 60px;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.payment-message-wait, .payment-message-error {
    display: none;
}

.wrapper_404 {
    padding: 82px 0 143px;
    margin: 0;
}

.wrapper_404 h1 {
    margin-bottom: 42px;
    line-height: 162px;
    font-size: 200px;
}

.color {
    color: #08c1f3 !important;
}

.wrapper_404 h2 {
    margin-bottom: 16px;
    line-height: 50px;
    font-size: 46px;
}

.wrapper_404 p {
    margin-bottom: 54px;
    color: #9da1ad;
}

.top5 {
    margin-top: 5px;
}

.top7 {
    margin-top: 7px;
}

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.top17 {
    margin-top: 17px;
}

.top30 {
    margin-top: 30px;
}

/*todo: classes for button landing start*/
.margin-top-bottom-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn.text-left {
    text-align: left;
}

.icon {
    height: 32px;
    width: 32px;
    display: inline-block;
    margin: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

.own-btn {
    padding: 5px;
    border: 1px solid black;
    outline: none;
    background: transparent;
    border-radius: 4px;
    line-height: 42px;
    white-space: nowrap
}

.own-btn:active {
    -webkit-filter: opacity(50%);
    filter: opacity(50%);
}

.facebook-logo {
    background-image: url("/images/landing-court/messenger@1.png");
}

.viber-logo {
    background-image: url("/images/landing-court/viber@1.png");
}

.skype-logo {
    background-image: url("/images/landing-court/skype@1.png");
}

.telegram-logo {
    background-image: url("/images/landing-court/telegram@1.png");
}

.telegram-btn {
    color: #1eb2d3;
    border-color: #1eb2d3;
}

.viber-btn {
    color: #804a9a;
    border-color: #804a9a;
}

.skype-btn {
    color: #25a8e8;
    border-color: #25a8e8;
}

.facebook-btn {
    color: #3c559b;
    border-color: #3c559b;
}

.d-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.font-size-24 {
    font-size: 24px;
}

.color-white {
    color: #FFFFFF;
}

.court-search-text {
    font-size: 12px;
}

.padding-header-court {
    padding: 2em 1em;
}

.width-100 {
    width: 100%;
}

.float-left {
    float: left;
}

.decisions-list {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.decisions-list > a {
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.social-buttons {
    float: left;
    margin-bottom: 40px;
    width: 100%;
}

.court-content {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    padding: 16px 8px;
}

.print-logo {
    height: 32px;
    width: 176px;
    display: none;
}
.company-page {
    padding: 16px 8px;
}

.page-content p.doc-paragraph {
    text-indent: 20px;
}
.page-content p.sub-list {
    padding-left: 30px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .facebook-logo {
        background-image: url("/images/landing-court/messenger@2.png");
    }

    .viber-logo {
        background-image: url("/images/landing-court/viber@2.png");
    }

    .skype-logo {
        background-image: url("/images/landing-court/skype@2.png");
    }

    .telegram-logo {
        background-image: url("/images/landing-court/telegram@2.png");
    }

    .logo-court {
        background-image: url("/images/landing-court/logo@2.png");
    }
}

@media (max-width: 720px) {
    .padding-header-court {
        padding: 16px 8px;
    }
}

@media (min-width: 720px) {
    .court-content {
        font-size: 16px;
        padding: 2em 1em;
    }
    .company-page {
        padding: 2em 1em;
    }
}

@media print {
    .social-buttons {
        display: none;
    }
    .logo-court {
        display: none;
    }
    .print-logo {
        display: block;
    }
    .remove-logo {
        display: none;
    }
    .container {
        padding-left: 60px;
    }
}

/*todo: classes for button landing end*/