.mb-4 {
    margin-bottom: 25px!important;
}

.h-100 {
     height: 100%!important; 
}

.card {

    /* flex-direction: column; */
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    cursor: pointer;
    position: relative;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.card-body {
    padding: 5px 16px;
}

.card-body hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-title {
    margin-bottom: .75rem;
}

.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}

.card-title a {
    color: #333;
}

.card p {
    font-size: 12px;
}


/* style1 */

.button-style1 {
    background: transparent;
    color: #357ebd;
}

/* style2 */

.card hr {
    display: none;
}

.card .button-style1 span {
    display: none;
}

.card .button-style1 {
    position: absolute;
    bottom: 16px;
    right: 16px;
    font-size: 15px;
}

.card:hover {
    border-color: #357ebd;
}

.card-text {
    margin-bottom: 57px;
}

/* style2 + 3 */


/* nav tabs*/

.nav-tabs, .nav-pills {
    margin-top: 30px;
    margin-bottom: 20px; 
}

.main-tabs li {
    margin-right: 30px;
}

.nav-tabs > li {
    color: #000000;
    border: none;
    /* border-color: transparent; */
    padding-left: 0;
    margin-right: 30px;
}

.nav-tabs {
    border-bottom: 1px solid #d3d5d9;
    /* border-bottom: none;  */

}



.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #000000;
    border: none;
    /* border-color: transparent; */
    background: transparent;
    border-bottom: 4px solid #357ebd;
}

.nav-tabs > li > a {
    padding: 0;
    margin: 0;
    border: none ;
    padding-bottom: 16px;
    color: #7f7f7f;

    border-bottom: 4px solid transparent;
}

.nav-tabs>li>a:hover {
    color: #000000;
    border: none ;
    /* border-color: transparent; */
    background: transparent;
    border-bottom: 4px solid #357ebd;
}

.nav-tabs > li > a:first-child {
    padding-left: 0;
}

/* .nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; 
     zoom:1; 
}

.nav-tabs, .nav-pills {
    text-align:center;
} */

@media screen and (max-width: 992px){
    .main-tabs .nav-item {
        margin: 0 auto;
        width: 100%;
        height: 50px;
        padding: 15px;
        padding-bottom: 0;
        background-color: #F0F0F0;
        float: none;
    }

    .main-tabs {
        border-bottom: none;
    }

    .main-tabs .nav-item.active {
        display: block;
        background-color: #d3d3d3;
    }

    .nav-tabs>li>a:hover {
        color: #000000;
        border: none ;
        /* border-color: transparent; */
        background: transparent;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        color: #000000;
        border: none;
        /* border-color: transparent; */
        background: transparent;
        
    }
}





