/* style2 */

.card {
    height: 460px!important;
}

.card hr {
    display: none;
}

.card .button-style1 span {
    display: none;
}

.card .button-style1 {
    position: absolute;
    bottom: 16px;
    right: 16px;
    font-size: 15px;
}

.card:hover {
    border-color: #357ebd;
}

/* style2 + 3 */

