/* new simpler button style*/

.btn-primary {
    border: none;
    background-color: #3297de;
    /* border-bottom: 4px solid #186092; */
}

.btn-cta {
    border-bottom: 2px solid #186092; 
}

.btn-primary:hover {
    background-color:#2188d0;
}

.btn-ghost {
    border-color: #3297de;
    color: #3297de;
}

.btn-ghost:hover {
    background-color:#2188d0;
    color: #fff;
    border-color: transparent !important;
}

/* cards */

.mb-4 {
    margin-bottom: 25px!important;
}

.card {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    cursor: pointer;
    position: relative;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.card-body {
    padding: 5px 16px;
}

.card-title {
    margin-bottom: .75rem;
}

.card-title a {
    color: #333;
}

.card p {
    font-size: 12px;
}

.card:hover {
    border-color: #0070BF;
}

.card-text {
    margin-bottom: 10px;
}

/* new navtabs*/

.nav-tabs, .nav-pills {
    margin-top: 30px;
    margin-bottom: 20px; 
}

.nav-tabs { 
    border-bottom: 2px solid #DDD; 
}

.nav-tabs > li > a { 
    border:none;
    border-bottom: 2px solid #DDD; 
    color: #666; 
    bottom: -1px; 
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus { 
    border:none;
    color: #222; 
    border-bottom: 2px solid #222; 
    background: transparent; 
}

/* new navtabs end*/

.nav-tabs-dropdown {
    display: none;
    background: transparent;
    color: #0070BF;
    border-color: #0070BF!important;
  }

  .nav-tabs-dropdown:hover, .nav-tabs-dropdown:focus{
    border-color: transparent;
    background-color: #0070BF;
    color: #fff;
  }
  
  .nav-tabs-dropdown:before {
    content: "\e114";
    font-family: 'Glyphicons Halflings';
    position: absolute;
    right: 30px;
  }

@media screen and (min-width: 769px) {
    #nav-tabs-wrapper {
      display: block;
    }
  }
  @media screen and (max-width: 768px) {
      .tabs-wrapper {
          margin-bottom: 10px;
          margin-top: 20px;
      }
      .nav-tabs {
          margin-top: 0;
          margin-bottom: 10px;
 
      }
      .nav-tabs-dropdown {
          display: block;
      }
      #nav-tabs-wrapper {
          display: none;
          text-align: center;
      }
     .nav-tabs {
          min-height: 20px;
          margin-bottom: 20px;
          background-color: #f5f5f5;
          border-radius: 4px;
          border-color: #d3d3d3
     }
      .nav-tabs  > li {
          float: none;
      }
      .nav-tabs  > li + li {
          margin-left: 2px;
      }
      .nav-tabs > li,
      .nav-tabs > li > a {
          background: transparent;
          border: none;
          width: 100%;
      } 
      .nav-tabs  > li > a {
          border-radius: 4px;
      }

      .nav-tabs  > li > a:last-child {
        margin-bottom: 5px;
    }

      .nav-tabs  > li > a,
      .nav-tabs  > li > a:hover,
      .nav-tabs  > li > a:focus {
          border: none;
      }


      .nav-tabs  > li > a:hover,
      .nav-tabs  > li > a:focus,
      .nav-tabs  > li.active > a,
      .nav-tabs  > li.active > a:hover,
      .nav-tabs  > li.active > a:focus {
          color: #111;
          border: none;
      }
  }

/* instruction-tabs */

.instruction-tabs {
    padding: 0px;
}

.instruction-tabs .tabs-wrapper {
    margin-bottom: 10px;
    margin-top: 20px;
}
.instruction-tabs .nav-tabs {
    margin-top: 0;
    margin-bottom: 10px;

}
.instruction-tabs .nav-tabs-dropdown {
    display: block;
}
.instruction-tabs #nav-tabs-wrapper {
    display: none;
    text-align: center;
    position: absolute;
    z-index: 100;
    width: 100%
}
@media screen and (max-width: 768px) {
    .instruction-tabs #nav-tabs-wrapper {   
        position: relative;

    }

    .instruction-tabs {
        padding: 10px;
    }
}
.instruction-tabs .nav-tabs {
    min-height: 20px;
    margin-bottom: 20px;
    background-color: #fafafa;
    border-radius: 4px;
    border: 1px solid #e2e2e2
}
.instruction-tabs .nav-tabs  > li {
    float: none;
}
.instruction-tabs .nav-tabs  > li + li {
    margin-left: 2px;
}
.instruction-tabs .nav-tabs > li,
.instruction-tabs .nav-tabs > li > a {
    background: transparent;
    border: none;
    width: 100%;
} 
.instruction-tabs .nav-tabs  > li > a {
    border-radius: 4px;
}

.instruction-tabs .nav-tabs  > li > a:last-child {
  margin-bottom: 5px;
}

.instruction-tabs .nav-tabs  > li > a,
.instruction-tabs .nav-tabs  > li > a:hover,
.instruction-tabs .nav-tabs  > li > a:focus {
    border: none;
}


.instruction-tabs .nav-tabs  > li > a:hover,
.instruction-tabs .nav-tabs  > li > a:focus,
.instruction-tabs .nav-tabs  > li.active > a,
.instruction-tabs .nav-tabs  > li.active > a:hover,
.instruction-tabs .nav-tabs  > li.active > a:focus {
    color: #111;
    border: none;
}

.instruction-tabs .nav-tabs-dropdown:before {
    right: 10%;
  }

/* related news */

.related-news-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f3f3f3;
    margin-bottom: 20px;
}

.related-news-header {
    padding-right: 15px;
    padding-left: 15px; 
    margin-bottom: 20px;
}

/* .related-news-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.related-news-list .related-news-list-item {
    font-size: 16px;
    margin-bottom: 20px;

}

.test-var2 .card img {
    display: none;
} 

.test-var3 .related-news-header {
    padding-right: 0;
    padding-left: 0; 
}  */

  /* related news end*/

#odb-news .card-body {
    padding: 16px 16px;
    word-wrap: break-word;
}

#odb-news .card-date {
    font-weight: bold;
    margin-bottom: 0px;
}

#odb-news .pager {
    margin-top: 0px;
}

.btn-xl {
    padding: 15px 30px;
}

/* .news-cta .btn {
    font-weight: 700;
    text-transform: uppercase;
    background-color: #0070BF;
    border-radius: 300px;
    border-color: #0070BF;
     
}

.news-cta .btn:hover {
    background-color: transparent;
    color: #0070BF;
} */


/* add to calendar page*/
.icon-calendar {
    background-image: url("/assets/calendar_files/icon-calendar-t1.png");
    background-position: center center;
    height: 15px;
    line-height: 5px;
    width: 20px;
    margin: 0px;
    margin-right: 4px;
    position: relative;
    top: 2px;
    fill: #fff;
}

.thumbnail a>img, .thumbnail>img {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}

/* kimano professional accpunt dialog */

.kimano-phone .btn {
    margin-bottom: 10px;
    width: 100%
}

.price {
    margin-bottom: 26px;
}

.payment-divider {
    color: #9e9e9e;
    line-height: 16px;
    font-size: 12px;
}

.ios .button > button {

    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 15px;
    border: 1px solid #2196f3;
    border-radius: 4px;
    padding-right: 5px;
    padding-left: 5px;
}

.ios .button > button:hover {
    
        border-color: #49aeff;
    }

.android .button > button {
    font-size: 13px;
    margin-bottom: 0px;
    padding-right: 5px;
    padding-left: 5px;

}

.android .button {
    margin-bottom: 10px;
}

/* .android .open-data-bot-wrapper {
    height: auto;
} */

/* instructions */

.instructions-wrapper {
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: #fafafa;
    /* margin-bottom: 20px; */
}

.instructions {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
}

.instructions-header {
    padding-right: 15px;
    padding-left: 15px; 
    margin-bottom: 15px;
}

@media screen and (min-width: 769px) {
    .instructions-text {
        padding-left: 0px;
    }
}

.instructions-text ul {
    list-style-type: none;
    padding-left: 15px;
}

.instructions-wrapper ul li {
    margin-bottom: 15px;
}


.instructions-wrapper .instructions p {
    display: inline;
    position: relative;
    left: 12px;
    top: 1px;
}

.instructions-wrapper .instructions .label {
    padding: .6em .8em .6em;
    float: left;
    display: block;
    width: 24px;
}

.instructions-text {
    margin-bottom: 15px;
}

.screen-gif {
    z-index: 0;
    position: absolute;
    width: 82%;
    height: auto;
    top: 12%;
    left: 9%
}

.instructions-img {
    position: relative;
    padding: 0px;
}

.instruction-tabs .text-center {
    margin-bottom: 5px;
    font-size: 12px;
}

.iphone-mockup {
    z-index: 1;
    position: relative;
}

.instruction-tabs ul li {
    margin-bottom: 0px;
}

/* instruction tabs */
/* @media screen and (min-width: 768px) {
    .instruction-tabs {
        display: none;
    }
} */






